

#background {
	margin-top: 0px;
}

#instructions, #xmas {
	width: 800px;
	height: 250px;
	
}

#xmas {
	width: 800px;
	height: 250px;
}

#dash {
	
	height: 250px;	
	position: absolute;
	margin-top: -130px;
}

#tracks {
	width: 500px;
	height: 400px;
	
	background-color: rgb(44,44,46);
	z-index: -1;
}

body {
	background-color: rgb(222,222,222);
}

 

.nav {
	margin-top: 5px;
	background-color: 
}

#table1 {
	
	margin-left: auto;
	margin-right: auto;
	
}

.lights {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#track {
	width: 1280px;
	height: 200px;
	margin-left: auto;
	margin-right: auto; 
	background-image: url("img/track.png"); 
	margin-top: -100px;
}

#dragster1 {
	margin-top: 140px;
	margin-left: 50px;
	position: absolute;
	
}

#preStageLine {
	width: 2px;
	height: 196px;
	/*background-color: red;*/
	position: absolute;
	margin-left: 415px;
}

#StageLine {
	
	width: 2px;
	height: 46px;
	margin-top: 150px;
	border: 1px dotted orange;
	position: absolute;
	margin-left: 415px;	
}





