

#background {
	margin-top: 0px;
}

#instructions, #xmas {
	width: 900px;
	
	
}

#xmas {
	width: 800px;
	height: 150px;
}

#dash {
	
	height: 250px;	
	position: absolute;
	margin-top: -190px;
}

#tracks {
	width: 500px;
	height: 400px;
	
	background-color: rgb(44,44,46);
	z-index: -1;
}

#track {
	width: 1280px;
	height: 200px;
	margin-left: auto;
	margin-right: auto; 
	background-image: url("img/track.png"); 
	margin-top: -160px;
}

body {
	background-color: rgb(222,222,222);
}

.nav {
	margin-top: 5px;
	background-color: 
}

#table1 {
	
	margin-left: auto;
	margin-right: auto;
	
}

.list-group {
	width: 440px;
	height: 192px;
	margin-top: -10px;
	margin-left: 40px;
}

.list-group-1 {
	width: 440px;
	height: 192px;
	margin-left: 160px;
	margin-top: -30px;
}

.lights {
	
	display: block;
	position: relative;
	margin-left: 305px;
	margin-top: -7px;
	padding-top: 5px;
}


#dragster1 {
	margin-top: 0px;
	margin-left: 50px;
	position: absolute;
	
}

#preStageLine {
	width: 2px;
	height: 196px;
	/*background-color: red;*/
	position: absolute;
	margin-left: 415px;
}

#StageLine {
	
	width: 2px;
	height: 18px;
	margin-top: 0px;
	border: 1px dotted orange;
	position: absolute;
	margin-left: 415px;	
}






